@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single+Ink:wght@100..900&display=swap');
*{
  margin: 0;
  padding: 0;
}
body{
  background-image: url(characters/images.jpeg);
background-position: 1%;
background-size: cover;
background-attachment: fixed;
  font-family: "Montserrat", sans-serif;
}
.contenedor{
  width: 50vh;
  height: 45vw;
  margin: 0 auto;
  margin-top: 40px;
}
.card{
  width: 320px;
  background-color: #f2f2f2;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  border: solid 0.5px #cbc3c3;
  display: inline-block;
}
.card img{
  display: block;
  max-height: 280px;
  margin: 16px auto;
  filter: drop-shadow(2px 0px 8px #515151);
}
.card h2{
  margin-top: 2px;
  margin-bottom: 8px;
  color: #373737;
  text-align: center;
}
.card p{
  font-size: 16px;
  color: #515151;
  text-align: center;
}
.c1{
  background-color: #4a0a0a;
}
.c2{
  background-color: rgb(54, 85, 54);
}
.c3{
background-color: rgba(54, 85, 896, 0.3);
}
.c8{
background: linear-gradient(to right, red, rgb(255, 255, 255), rgb(53, 53, 3), green, rgb(154, 154, 194));
}
.c9{
  background: radial-gradient(circle at top left, red,grey, blue,yellow);
}
.c10{
  text-transform: uppercase;
  letter-spacing: 0.5em;
  text-shadow:2px 2px blueviolet;
}

.c11{
  font-family: "bitcount grid single ink", sans-serif;
  
}
.c12{
  font-size: 17px;
  font-style: oblique;
  font-weight: 400;
}
.c13 p{
  
  font-size: 5rem;
}
.c14{
  margin: 5em;
  padding: 6em;
}


 .caja-px{
font-size: 18px;
  }

  .caja-em{
    font-size: 5em;
  }

  .caja-rem{
    font-size: 0.5rem;
  }

  .c17 img{
    max-width: 10%;
    height: auto;
  }
  .c18 img{
    object-fit: contain;
    background: #480f0f;
  }



